section{
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.topnav{
	background-color: #333;
	width: 100%;
	height: 15vh;
	overflow: hidden;
}

.topnav ul li{
	list-style: none;
	display: inline-block;
	margin-right: 30px;
}

.topnav a,.searchbutton {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav img{
	width: 50px;
	height: 50px;
}

.div1{
	height: 85vh;
	background: url("../photo/elibrarybg.png");
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	overflow: hidden;
}

.divslider1{
	background-color: rgba(255,255,255,0.8);
	width: 80%;
	height: 60vh;
	margin: 5% auto;
	display: flex;
	position: relative;
}

.sliderleft{
	width: 30%;
	margin: auto;
}

.sliderright{
	width: 70%;
}

.sliderright h2{
	padding: 3% 0 2% 0;
}

.sliderright p{
	font-size: 100%;
	line-height: 1.6;
	padding-right: 2%;
}

.sliderright a{
	text-decoration: none;
}

.sliderright .sliderbutton{
	float: right;
	width: 18%;
	margin: 5% 3% 0 0;
}

.sliderright .sliderbutton button{
	width: 50px;
	height: 50px;
	margin-right: 2%;
	transition: width 1s, height 1s;
	border-radius: 50%;
	border-style: none;
	background-color: #89a955;
}

.sliderright .sliderbutton button:hover{
	cursor: pointer;
	background-color: #d3edc4;
	/*background-color: #809f4f;*/
	/*background-color: #89a955;*/
	width: 60px;
	height: 60px;
}

/*End of Section 1*/

/*Start of Section 2*/
.sec2{
	background-color: white;
}

.sec2 h1{
	padding: 1% 0 1% 10%;
	font-size: 200%;
	color: #89a955;
	text-shadow: 1px 1px black;
}

.sec2 .releaselist{
	list-style: none;
}

.sec2 .releaselist li{
	display: inline-block;
	padding-right: 5%;
	padding-bottom: 1%;
}

.sec2 .releaselist li:first-child{
	padding-left: 7%;
}

.sec2 .releaselist li a{
	text-decoration: none;
	color: #89a955;
}

.releaseBookList{
	width: 70%;
	height: 70%;
	margin: 0 15%;
	background-color: #89a955;
	display: flex;
}

.releaseBookList .rBooks{
	width: 60%;
	height: 100%;
}

.releaseBookList .rBooks .releaseBook{
	width: 100%;
	height: 30%;
	margin: 2% 0;
	background-color: #d3edc4;
	display: flex;
}

.releaseBookList .rBooks .releaseBook .releaeBookImg{
	width: 30%;
	margin-left: 5%;
}

.releaseBookImg img{
	display: block;
	width: auto;
	height: 100%;
}

.releaseContent{
	width: 70%;
	margin-left: 5%;
	padding-top: 2%;
}

.rBookDetails{
	width: 40%;
}

.rBookDetails img{
	display: block;
	width: 60%;
	padding-top: 3%;
	margin: auto;
}

.rBookDetails p{
	padding-left: 3%;
}

.rBookDetails a{
	text-decoration: none;
	padding-left: 3%;
}

/*End of Section 2*/

/*Start of Section 3*/

.sec3{
	background: url(../photo/librarybg.jpg);
}

.sec3 .news{
	background-color: #d3edc4;
	background-color: white;
	width: 50%;
	height: 60%;
	margin: 0 auto;
	margin-top: 5%;
	padding: 5%;
}

.sec3 .news a{
	color: darkgreen;
	text-decoration: none;
}

.news .newsButton{
	margin-top: 2%;
	float: right;
	width: 20%;
}

.news .newsButton button{
	width: 50px;
	height: 50px;
	margin-top: 3%;
	margin-right: 2%;
	transition: width 1s, height 1s;
	border-radius: 50%;
	border-style: none;
	background-color: #d3edc4;
}

.news .newsButton button:hover{
	cursor: pointer;
	/*background-color: #d3edc4;*/
	/*background-color: #809f4f;*/
	background-color: #89a955;
	width: 60px;
	height: 60px;
}

/*End of Section 3 */
/*Start of Section 4*/

.sec4 h1{
	padding: 2% 0 1% 5%;
	font-size: 170%;
}

.booksContainer{
	width: 90%;
	height: 80%;
	/*background-color: peru;*/
	margin: auto;
	display: flex;
}

.forthButton{
	margin: 15% 0;
}

.forthButton button{
	width: 50px;
	height: 50px;
	margin-top: 3%;
	transition: width 0.5s, height 0.5s;
	border-radius: 50%;
	border-style: none;
	background-color: #d3edc4;
}

.forthButton button:hover{
	cursor: pointer;
	background-color: #89a955;
	width: 60px;
	height: 60px;
}

.forthbook{
	width: 20%;
	height: 90%;
	margin: 2.1%;
	position: relative;
}

.forthbook img{
	width: 100%;
	height: auto;
}

.forthbook time{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 90%;
}

/*End of Section 4*/

/*Start of catelog*/

.catalog{
	width: 100%;
	height: 20vh;
	background-color: #89a955;
}

.catalog h1{
	margin: auto;
	padding-top: 3%;
	padding-left: 15%;
	color: white;
	text-shadow: 1px 1px black;
	display: inline-block;
}

.catalog button{
	width: 20%;
	height: 40%;
	margin-left: 3%;
}

.catalog button a{
	text-decoration: none;
	color: #89a955;
	font-size: 120%;
	font-weight: bold;
}

.catalog button:hover{
	background-color: #809f4f;
}

.catalog button:hover a{
	color: white;
}

/*End of catalog*/

/*Start of popular content*/

.popularContent{
	width: 100%;
	height: 140vh;
}

.popularContent h1{
	padding: 2% 7%
}

.most li{
	list-style: none;
	display: inline-block;
	padding: 0 5% 2% 5%;
}

.most li a{
	text-decoration: none;
	color: darkgreen;
	font-size: 120%;
	font-weight: bold;
}

.mostReadList li{
	list-style: none;
	padding-left: 5%;
}

.mostReadList li p{
	color: darkgray;
}

.mostReadList li h2 a{
	color: black;
	text-decoration: none;
}

/*End of popularContent*/

/*Start of Resources*/

.resources{
	width: 100%;
	height: 55vh;
}

.resourceContainer{
	width: 80%;
	height: 85%;
	margin: 0 auto;
	padding: 2% 7%;
	background-color: #809f4f;
	color: white;
}

.facts{
	width: 100%;
	height: 80%;
	display: flex;
}

.fact{
	width: 30%;
	margin: 2%;
	border-right: 1px solid white;
}

.fact button{
	width: 50%;
	height: 20%;
	margin-top: 1%;
	background-color: white;
	border-style: none;
	border-radius: 30px;
}

.fact button a{
	text-decoration: none;
	color: #89a955;
}

/*End of Resources*/

/*Start of footer1*/

.footer1{
	width: 100%;
	height: 50vh;
	background-color: darkgray;
	display: flex;
	margin-top: 5%;
	margin-bottom: -2%;
}

footer ul li{
	list-style: none;
}

footer a{
	text-decoration: none;
	color: black;
}

footer a:hover{
	text-decoration: underline;
}

.footer1 h4{
	font-size: 120%;
}

.quicklink{
	width: 30%;
	margin: 2% 0 0 4%;
}

/*End of footer 1*/
/*Start of footer 2*/

.footer2{
	width: 100%;
	height: 7vh;
	background-color: dimgrey;
	margin-bottom: -0.5%;
}

.footer2 ul li{
	display: inline-block;
	padding-right: 5%;
	padding-top: 1%;
}

/*End of footer 2*/

/*Start of footer 3*/

.footer3{
	width: 100%;
	height: 10vh;
	background-color: black;
	font-size: 90%;
}

.footer3 a, .footer3 p{
	color: white;
	text-decoration: none;
}

.row{
	display: flex;
	margin-left: 5%;
	
}

.row div{
	width: 33%;
}

.row ul li{
	display: inline-block;
	margin-right: 3%;
}