body{
	background-color: silver;
	margin-left: 100px;
}

nav{
	width: 1200px;
}

nav ul{
	list-style: none;
}

nav ul li{
	width: 225px;
	text-align: center;
	float: left;
	line-height: 50px;
	font-size: 25px;
}

i{
	font-size: 35px;
	color: orange;
}

span{
	color: orange;
	font-size: 35px;
}

.why{
	text-decoration: underline purple;
}

.login{
	font-size: 25px;
	background-color: royalblue;
	color: white;
	border-radius: 50px;
	border: none;
}

.div1{
	width: 50%;
	display: inline-block;
}

p{
	font-size: 25px;
	text-align: justify;
}

.divimg{
	display: inline-block;
	float: right;
	margin-right: 200px;
}

button{
	font-size: 25px;
	background-color: royalblue;
	color: white;
	border-radius: 40px;
	border: none;
	padding: 20px 40px;
}

.bn:nth-of-type(odd){
	color: blue;
	text-decoration: underline orange;
}

.bn:nth-of-type(even){
	color: orange;
	text-decoration: underline blue;
}

