@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
	box-sizing: border-box;
}

body{
	font-family: 'Josefin Sans', sans-serif;
			/*vh=view port height*/
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	margin: 0;

	overflow: hidden;

	background-image: url(../photo/travelbagan1.jpg);
}

h2{
	color: #4b4846;
}

.container{
	width: 50%;
	background-color: #f4dfc2;
				/*h   v    b   c*/
	box-shadow: 2px 2px 10px rgba(0,0,0,0.3);

	border-radius: 10px;
}

.container h2{
	text-align: center;
	margin-bottom: 0;
}

.form{
			/*top&bottom left&right*/
	padding: 30px 40px;
}

.form .form-group{
	padding-bottom: 20px;
	margin-bottom: 10px;
}

.form-group label{
	display: block;
	color: var(--gyc);
	margin-bottom: 8px;
}

.form-group .form-control{
	font-family: inherit;
	width: 100%;
	padding: 10px;
	background-color: #fcc89e;
}

.form-group .form-control:focus{
	/*outline: none;*/
	outline: 0;
}

.form-group .form-control::placeholder{
	color: rgba(0, 0, 0, 0.3);
}

.form .btn{
	font-family: inherit;
	letter-spacing: 1px;
	width: 100%;
	background-color: #4b4846;
	color: white;
	font-size: 14px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	padding: 10px;
	text-decoration: none;
}

.form .btn:active{
	transform: scale(0.98);
}

.login{
	color: #4b4846;
}
