/*------------------------------------------*/
/* BASIC SETUP */
/*------------------------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: white;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.clearfix {zoom: 1}
.clearfix:after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*------------------------------------------*/
/* REUSABLE COMPONENTS */
/*------------------------------------------*/

.row{
    max-width: 1140px;
    margin: 0 auto;
}

section{
    padding: 80px 0;
}

.box{
    padding: 0%;
}

/* ----------HEADINGS----------*/

h1,h2,h3{
    font-weight: 300;
    text-transform: uppercase;
}

h1{
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
    font-size: 200%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2{
    margin-bottom: 30px;
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    letter-spacing: 1px;
}

h2:after{
    display: block;
    height: 2px;
    width: 150px;
    background-color: orange;
    content: "";
    margin: 0 auto;
    margin-top: 30px;
}

h3{
    margin-bottom: 15px;
    font-size: 110%;
}

/* ----------PARAGRAPH----------*/
.long-copy{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p{
    font-size: 90%;
    line-height: 145%;
    padding-right: 2.5%;
    position: justify;

}

/* ----------ICONS----------*/
.icon-big{
    font-size: 350%;
    display: block;
    color: orange;
    margin-bottom: 10px;
}

.icon-small{
    display: inline-block;
    width: 30px;
    text-align: center;
    color: orange;
    margin-right: 10px;

    /*Secret to align text and icon*/
    vertical-align: middle;
    line-height: 120%;
    margin-top: -5px;
}

/* ----------LINK----------*/
a:link,
a:visited{
    color: orange;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid orange;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active{
    color: #555;
    border-bottom: 1px solid transparent;
}


/* ----------BUTTON----------*/

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: white;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    -moz-transition: background-color 0.2s, border 0.2s, color 0.2s;
    -ms-transition: background-color 0.2s, border 0.2s, color 0.2s;
    -o-transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit]{
    background-color: orange;
    border: 1px solid orange;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid orange;
    color: orange
}

.btn:hover,
.btn:active,
input[type=submit]:hover
input[type=submit]:active{
    background-color: #ca870a;
}

.btn-full:hover,
.btn-full:active{
    border: 1px solid #ca870a;
}

.btn-ghost:hover,
.btn-ghost:active{
    border: 1px solid  #ca870a;
    color: white
}

/*------------------------------------------*/
/* HEADER */
/*------------------------------------------*/

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0,0,0,0.7)), url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.hero-text-box{
    width: 1140px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*-------NAVIGATION--------------*/

.logo{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav{
    float: right;
    list-style: none;
    margin-top: 50px;
}

.main-nav li{
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
    -webkit-transition: border-bottom 0.2s;
    -moz-transition: border-bottom 0.2s;
    -ms-transition: border-bottom 0.2s;
    -o-transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid orange;
}

/*------------------------------------------*/
/* FEATURES*/
/*------------------------------------------*/
.section-featues .long-copy{
    margin-bottom: 30px;
}


/*------------------------------------------*/
/* MEALS */
/*------------------------------------------*/

.section-meals{
    padding: 0;
}

.meal-showcase{
    list-style: none;
    width: 100%;
}

.meal-showcase li{
    display: block;
    float: left;
    width: 25%;
}

.meal-photo{
    width: 100%;
    margin:0;
    overflow: hidden;
    background-color: black;
}

.meal-photo img{
    opacity: 0.6;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}

.meal-photo img:hover{
    transform: scale(1.03);
    opacity: 1;
}

/*------------------------------------------*/
/* HOW IT WORKS */
/*------------------------------------------*/

.section-steps{
    background-color: #f4f4f4;
}

.step-boxes:first-child{
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}

.step-boxes:last-child{
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen{
    width: 40%;
}

.work-steps{
    margin-bottom: 50px;
}

.work-steps:last-of-type{
    margin-bottom: 80px;
}

.work-steps div{
    color: orange;
    border: 2px solid orange;
    display: inline-block;
    border-radius: 50%;
    height: 43px;
    width: 43px;
    text-align: center;
    float: left;
    padding:5px;
    font-size: 150%;
    margin-right: 25px;
}

.btn-app:link,
.btn-app:visited{
    border-bottom: 0;
}



.btn-app img{
    height: 50px;
    width: auto;
    margin-right: 10px;
}

/*------------------------------------------*/
/* CITIES */
/*------------------------------------------*/

.box img{
    height: auto;
    width: 100%;
    margin-bottom: 15px;
}

.city-features{
    margin-bottom: 5px;
}

/*------------------------------------------*/
/* TESTIMONIALS*/
/*------------------------------------------*/

.section-testimonials{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/back-customers.jpg);
    background-size: cover;
    color: white;
    background-attachment: fixed;
}

blockquote{
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

blockquote:before{
    content: "\201C";
    font-size: 500%;
    display: block;
    top: -5px;
    left: -5px;
    position: absolute;
}

cite{
    margin-top: 25px;
    font-size: 90%;
    display: block;
}

cite img{
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;

}

/*------------------------------------------*/
/* SIGN UP */
/*------------------------------------------*/

.section-plans{
    background-color: #f4f4f4;
}

.plan-box{
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left:5%;
    box-shadow: 0 2px 2px #efefef;
}

.plan-box div{
    padding: 15px;
    border-bottom: 1px solid #efefef;
}

.plan-box div:first-child{
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.plan-box div:last-child{
    text-align: center;
    border: 0;
}

.plan-price{
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: orange;
}

.plan-price span{
    font-size: 30%; /* that 30% means 30% of parent class(plan-price 300% fontsize)*/
    font-weight: 300; /* this is also 300 of parent class*/
}

.plan-price-meal{
    font-size: 80%;
}

.plan-box ul{
    list-style: none;
}

.plan-box ul li{
    padding: 5px 0;
}

/*------------------------------------------*/
/* FORM */
/*------------------------------------------*/

.contact-form{
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea{
    height: 100px;
}

input[type=checkbox]{
    margin: 10px 5px 10px 0;
}

*:focus {
    outline: none;
}

/*------------------------------------------*/
/* FOOTER */
/*------------------------------------------*/

footer{
    background-color: #333;
    padding: 50px;
    font-size: 80%;
}

.footer-nav{
    list-style: none;
    float: left;
}

.social-links{
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li{
    display: inline-block;
    margin-right: 20px;
    
}

.footer-nav li:last-child,
.social-links li:last-child{
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.2s;
}

.footer-nav li a:active,
.footer-nav li a:hover{
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited{
    font-size: 170%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instragram{
    transition: color 0.2s;
}

.ion-social-facebook:hover{
    color:#3b5998;
}

.ion-social-twitter:hover{
    color:#00aced;
}

.ion-social-googleplus:hover{
    color: #dd4b39;
}

.ion-social-instagram:hover{
    color: #517fa4;
}

footer p{
    color: #888;
    text-align: center;
    margin-top: 30px;
}